.Rproj.user
.Rhistory
.RData
.Ruserdata
LongTermPlanningDISD.Rproj
.dashPresentation/voli_rotte2.csv.csv
voli_rotte2.csv.csv
.dashPresentation/deep_joined.csv
deep_joined.csv
parametriConnessioniFile.R